[submodule "vesc"]
	path = vesc
	url = git@github.com:ray-quasar/vesc.git
	branch = humble
[submodule "ackermann_mux"]
	path = ackermann_mux
	url = https://github.com/f1tenth/ackermann_mux.git
	branch = foxy-devel
[submodule "teleop_tools"]
	path = teleop_tools
	url = https://github.com/ros-teleop/teleop_tools.git
	branch = master
